{% extends 'base.html' %}

{% load "uni_form_tags" %}

{% block title %}{{ username }}'s Items Add Item{% endblock %}

{% block content %}

<div id='add_item_form'>
	<form action="" method="post" class="uniForm">
	    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="id_name">name:</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.category.errors }}
        <label for="id_category">category:</label>
        {{ form.category }}
    </div>
    <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="id_description">description:</label>
        {{ form.description }}
    </div>
    <div class="fieldWrapper">
        {{ form.location.errors }}
        <label for="id_location">location:</label>
        {{ form.location }}
    </div>
    <div class="fieldWrapper">
        {{ form.available_from.errors }}
        <label for="id_available_from">available_from:</label>
        {{ form.available_from }}
    </div>
    <div class="fieldWrapper">
        {{ form.expire_date.errors }}
        <label for="id_expire_date">expire_date:</label>
        {{ form.expire_date }}
    </div>
        <div class="fieldWrapper">
        {{ form.quantity.errors }}
        <label for="id_quantity">quantity:</label>
        {{ form.quantity }}
    </div>
    <div class="fieldWrapper">
        {{ form.quantity_type.errors }}
        <label for="id_quantity_type">quantity_type:</label>
        {{ form.quantity_type }}
    </div>
        <div class="fieldWrapper">
        {{ form.sell_individually.errors }}
        <label for="id_sell_individually">sell_individually:</label>
        {{ form.sell_individually }}
    </div>
    <div class="fieldWrapper">
        {{ form.swappable.errors }}
        <label for="id_swappable">swappable:</label>
        {{ form.swappable }}
    </div>
    <div class="fieldWrapper">
        {{ form.price.errors }}
        <label for="id_price">price:</label>
        {{ form.price }}
    </div><span id="id_price_info"></span>
    <div class="fieldWrapper">
        {{ form.notes.errors }}
        <label for="id_notes">notes:</label>
        {{ form.notes }}
    </div>
	<input type="submit" value="Submit" />
	</form>
</div>

{% endblock %}