{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Soustainable Souk - HomePage Test" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row">
	
	<div class="span6">
		<style type="text/css">
			#map_canvas{
				height: 400px;
				width: 450px;
			}
		</style>
		{% include "maps/map_min.html" %}
	</div>
	<div class="span6">	
	{% include "inventory/list.snippet.html" %}
	</div> 
</div>


{% endblock %}

{% block extra_body %}
	{% block gmaps_javascript_sensor %}
	{% endblock %}
{% endblock %}
