{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Soustainable Souk - HomePage Test" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row">
	
	<div class="span6">
		{% include "maps/_map.html" %}
      <style type="text/css">
        #map_canvas{
            height: 450px;
        }
        </style>
	</div>
	<div class="span6">	
	   {% include "inventory/_list_items.html" %}
	</div> 
</div>


{% endblock %}

{% block extra_body %}

{% endblock %}
