
<div id="inventory-list">
{% if items %}
    <ul>
    {% for item in items %}
        <li><a href={{ item.user }}/{{ item.pk }}>{{ item.name }}</a> {{ item.expire_date }} {{ item.price }} 
            {{ item.quantity }} -- <a href={{ item.user }}>{{ item.user }}</a> 
            {{ item.location.marker.x }} {{ item.location.marker.y }}</li>
    </ul>
    
    <script type="text/javascript">
    
    	SSOUK.map_handler.updateMarker({{ item.location.marker.x }}, 
			{{ item.location.marker.y }});
    	
    </script>
    {% endfor %}
{% else %}
    <p>No item available in the SustainableSouk..</p>
{% endif %}
</div>