
<div id="inventory-list">
{% if items %}
    <ul>
    {% for item in items %}
        <li><img src={{ item.category.image.url }}> <a href={{ item.user }}/{{ item.pk }}>{{ item.name }}</a>  
        	<a href={{ item.user }}>{{ item.user }}</a> </li>
	    <script type="text/javascript">
	    $(document).ready(function(){	
	    	SSOUK.map_handler.updateMarker({{ item.location.marker.y }}, 
	    								   {{ item.location.marker.x }});
		});	
	    </script>
    {% endfor %}
    </ul>
{% else %}
    <p>No item available in the SustainableSouk..</p>
{% endif %}
</div>