{% extends "site_base.html" %}
{% load bootstrap_tag %}

{% block title %}{{ username }}'s Items Add Item{% endblock %}

{% block extra_head %}
<script src="{{ STATIC_URL }}js/inventory_math.js" type="text/javascript"></script>
{% endblock %}


		{% block body %}
		    <form>
		        <legend>Add a new Item</legend>
	            {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <a href="#back" class="btn">Go back</a>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </div>
		    </form>
		{% endblock %}

</div>
