{% extends "site_base.html" %}

{% load uni_form_tags %}
{% block extra_head %}
	{{ form.media }}
{% endblock %}
{% block title %}Add Location{% endblock %}

{% block body %}

{% comment %}
	{% include "floppyforms/gis/openlayers.html" %}
	{% block options %}
		{{ block.super }}
		options['default_lon'] = center.x
		options['default_lat'] = center.y
	{% endblock %}
{% endcomment %}

<h1>New location</h1>

<div class="row">

	<div class="span8">
		<div class="row">
		    {% uni_form form form.helper %}
		</div>
		
			
		
	</div>
</div>


{% endblock %}

{% block extra_body %}
	{% block gmaps_javascript_sensor %}
	{% endblock %}
{% endblock %}
