{% extends "site_base.html" %}

{% block title %}{{ username }}'s Items{% endblock %}

{% block body %}

<h1>{{ username }}'s Location on the ssouk</h1>

<div class="row">

	<div class="span8">
		{% include "maps/map_min.html" %}
		<style type="text/css">
		#map_canvas{
			height: 400px;
			width: 450px; 
		}
		</style>
	</div>		


	<div class="span8">
		<div class="row">
			<h2>Your locations</h2>
			<div id="location-user">
			{% if location %}
			    <ul class="unstyled">
			    {% for location in locations %}
			    	<div class="row">
				        <li>
				        	<div class="span1">
				        		<img src="http://placehold.it/30x30" alt="marker"/>		
				        	</div> 
				        	<div class="span2">{{ location.name }}</div>
				        	<div class="span2"><a class="btn" href="edit">edit</a></div>
							<script type="text/javascript">
								$(document).ready(function(){	
					    		SSOUK.map_handler.updateMarker({{ location.marker.y }}, 
					    								   {{ location.marker.x }});
							});
					    	</script>
			    {% endfor %}
			    </ul>
		{% else %}
			<div 
		    <p>No item available in the SustainableSouk..</p>
		{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="span2 offset6">
				{% if same_user %}
		       		<a href={{username}}/new>Add Item</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>


{% endblock %}
