<!-- Leaflet Map -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet-0.3.1.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ STATIC }}css/leaflet.ie-0.3.1.css" />
<![endif]-->

<script src="{{ STATIC_URL }}js/leaflet-0.3.1.js"></script>
<!-- our script -->
<script src="{{ STATIC_URL }}js/map.js"></script>    
<!-- /Leaflet Map -->


<div id="map" style="height: 400px"></div>
<script type="text/javascript">
    var mapHandler = new MapHandler;
</script>
{{ items }}
{{ center.x }}
