{% block content %}

    <div id="map"></div>
    
    <div id="controls">
    
      
        <h2>&mdash; Controls &mdash;</h2>
      
      <div>
        Show all locations 
        <button  onclick="showAll()">
          <span>Go</span>
        </button> 
        <br><br>
        Show radius (m)
        <input type="text" id="radiusInput" value="0" size="4" />
        <button  onclick="showRadius()">
          <span >Go</span>
        </button>
        <br><br>
        Add marker at address<br>
        <input type="text" id="addressInput" value="34A Mill Road, CB1 2AD, Cambridge" size="35" />
        <button  onclick="geocodeAddress()">
          <span>Go</span>
        </button>

        
      </div>
    
    <div id="infoArea">...info area...</div>
{% endblock %}

