@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil|Syncopate);

body {
  font-family: Syncopate, arial, serif;
  font-style: bold;
  font-size: 13px;
  background: black;
  color: white;
}

#map {
  width: 50%;
  height: 400px;
  border: 10px solid #555;
  float: left;
}

#controls {
  width: 40%;
  float: right;
}

#infoArea {
  margin: 30px;
}

.ui-widget-header h2 { 
  margin: 10px 0 10px 20px;
}

.ui-widget-content {
  padding: 20px;
}

