{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <style media="screen" type="text/css">
    body {
        text-align: center;
    }
    </style>
    
    <div class="row-fluid">
        <div class="span12">
    <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGEtQnV1eEdKWEhwSDNTREFmVjI3TEE6MQ" 
    width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div> 
    </div>
    
    <hr />
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
